{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link
      rel="shortcut icon"
      type="image/png"
      href="{% static 'assets/img/Profile/Profile.png' %}" 
      style="filter:brightness(0) invert(1);"
      >
    <!-- main style -->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <!-- fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Bace page Css-->
    <link rel="stylesheet" href="{% static 'assets/css/bace_page_profile.css' %}" />
        <!--TITEL-->
    {% block titel%}
    <title>Login</title>
    {% endblock titel %}



</head>

<body>
    <header>

        <nav class="main-menu">
            <ul>
                {% if user.is_authenticated %}
                <li><a href="{% url 'website:index' %}">Home</a></li>
                
                {%block Email%}
                <li><a href="{% url 'account_email' %}">Email Manage</a></li>
                {% endblock Email%}

                {%if user.is_superuser%}

                <li><a class="admin" href="{% url 'admin:index' %}">Admin Page</a></li>

                {%endif%}

                {%block Order%}
                <li><a href="{% url 'shop:order' %}">My Order</a></li>
                {% endblock Order%}

                {%block Prof%}
                <li>
                    <div class="header-icons">
                        <a class="mobile-hide" href="{% url 'website:profile'%}"><i class="fas fa-user"></i></a>
                    </div>
                </li>
                {% endblock Prof%}
                
                <li><a class="log_out" href="{% url 'account_logout' %}">Log out</a></li>
                
                {% else %}
                <li><a href="{% url 'website:index' %}">Home</a></li>
                
                {%block Login%}
                <li><a href="{% url 'account_login' %}">Login</a></li>
                {% endblock Login%}
                
                {%block Signup%}
                <li><a href="{% url 'account_signup' %}">Sign up</a></li>
                {% endblock Signup%}
                
                
                {% endif %}
            </ul>
        </nav>
        
    </header>


<div class="messages-container">

    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="popup-message error">
                    {{ error }}
                </div>
            {% endfor %}
        {% endfor %}

        {% for error in form.non_field_errors %}
            <div class="popup-message error">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}

    {% if messages %}
        {% for message in messages %}
            <div class="popup-message {{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

</div>


    <div class="auth-container">
    {% block body %}
    {% endblock body %}
    </div>

</body>
</html>