{% extends "account/bace_page.html" %}


{% block titel %}
<title>Password Reset</title>
{% endblock titel %}


{% block body %}
<h1 class="auth-title">Reset Password</h1>

{% if user.is_authenticated %}
<h3 class="auth-not">Note: you logined as {{user}}</h3>
{% endif %}
<br>
        <p class="auth-subtitle">
        Forgotten your password?
        <br><br>
         Enter your email address below, and we'll send you an email allowing you to reset it.
        </p>

        <form method="POST" action="{% url  'account_reset_password' %}">

           
            {% csrf_token %}


            <div class="input-group">
                <label for="email">email</label>

                <input
                    type="email"
                    id="email"
                    name="email"
                    placeholder="Enter your Email"
                    autocomplete="email"
                    required
                >
            </div>

            <button type="submit" class="login-btn">
                Reset My Password
            </button>

        </form>
{% endblock body %}