{% extends "account/bace_page.html" %}

{% block body %}
    {% if token_fail %}
    <h1 class="auth-title">Reset password</h1>
    
    <p class="auth-subtitle">
            The password reset link was invalid, possibly because it has already been used.
        </p>
    
        <p class="register-text">
            Please request a 
            <a href="{% url 'account_reset_password' %}">
                new password reset.
            </a>
        </p>


    {% else %}
    <style>
        .butten{
        display: flex;
        gap: 10px;
        margin: 16px 0;
    }
        .ul{
            color: white;
            font-size:15px;
        }
        .ul li{
            margin: 15px;
        }
    </style>
    <h1 class="auth-title">Change password</h1>

        <p class="auth-subtitle">
            Enter your New password and Change it
        </p>

        <form method="POST">

           
            {% csrf_token %}
            

            <div class="input-group">
                <label for="Password1">Password</label>

                <input
                    type="password"
                    id="password1"
                    name="password1"
                    placeholder="Enter your new password"
                    autocomplete="new-password"
                    value="{{ form.login.value|default:'' }}"
                    required
                >
            </div>


            <div class="input-group">
                <label for="password2">Password (agian)</label>

                <input
                    type="password"
                    id="password2"
                    name="password2"
                    placeholder="Enter your new password (agian)"
                    autocomplete="new-password"
                    required
                >
            </div>



            <div class="options">
                <ul class="ul" >
                    <li>Your password can’t be entirely numeric.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be too similar to your other personal information.</li>
                </ul>

            </div>
            
            

            <div class="butten">

                <button type="submit" name="action" class="login-btn">
                    change password
                </button>
                
                <button form="logout-from-stage" type="submit" class="login-btn">
                    Cancel    
                </button>
                
            </div>
            
        </form>

    
    
        <form id="logout-from-stage" method="post" action="/accounts/logout/">
            <input type="hidden" name="next" value="/accounts/login/">
            {% csrf_token %}
        </form>




    {% endif %}

{% endblock body %}